.title-bar {
  background: #e35557;
  color: #FFFFFF;
}

.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}
// Create a subtitle element for title-bar
// font size to 1.3rem and font weight to 400
